/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14171a;
  padding: 20px 40px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.header h1 {
  font-size: 2.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  font-size: 1.1rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcc00;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
